body {
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: rgb(201, 197, 211);
}
.container {
    width: 60%;
    height: 100vh;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
}
h1 {
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}
.box {
    font-family: 'New Tegomin', serif;
    align-items: center;
    margin: 30px auto;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: 50px, auto;
}
th, td {
    border: 1px solid black;
    text-align: center;
}
th {
    font-family: 'New Tegomin', serif;
    font-size: 20px;
}
td {
    font-family: 'New Tegomin', serif;
    font-size: 15px;
}